
/*Header css*/
.ecart-icon { z-index: 2; height: 36px; width: 40px; }

#cart #totalItems { position: absolute; top: -11px; right: 14%; height: 18px; width: 18px; line-height: 18px; background-color: #FAA519; color: #ffffff; font-size: 1rem; font-weight: bold; text-align: center; border-radius: 50%; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 0.2s 0s; -moz-transition: -moz-transform 0.2s 0s; transition: transform 0.2s 0s; }
/*.searchbox { grid-row: 2/7; grid-column-start: 1; grid-column-end: 7; grid-row-start: row1-start; grid-row-end: -1; }*/
.search { width: 100%; /*position: relative;*/ display: flex; }

.searchTerm { border: 1px solid #729133; border-right: none !important; padding: 5px; height: 30px; outline: none; color: #9DBFAF; }

    .searchTerm:focus { color: #00B4CC; }

.searchButton { width: 30px; height: 30px; border: 1px solid #729133; cursor: pointer; background-color: #fff; border-left: 1px solid transparent; }

/*Resize the wrap to see the search bar change!*/
.wrap { width: 30%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

@media (min-width: 30rem) {
    nav { grid-template-columns: 1fr auto auto; justify-items: start; }
}

.cssnav { display: grid; min-height: 40px; grid-template-columns: max-content; grid-auto-flow: column; justify-items: center; text-align: center; grid-gap: 20px; padding-left: 10px; box-shadow: 0px -6px 9px -8px rgba(0, 0, 0, 0.2); background: #ffffff !important; font-size: 11px !important; }

.imgcss { display: grid; grid-template-columns: 40px; grid-auto-flow: column; justify-items: center; text-align: center; grid-gap: 10px; padding-left: 10px; box-shadow: 0px -6px 9px -8px rgba(0, 0, 0, 0.2); background: #ffffff !important; font-size: 11px !important; }

.deliverybox { box-shadow: 5px 10px; }


@mixin responsive {
    @media (min-width: 700px) {
        @content;
    }
}

* { margin: 0; padding: 0; }

header { background: linear-gradient(to bottom right, #22b67d, #ddd); text-align: center; line-height: 50px; position: fixed; width: 100%; }

.container {
    @include responsive { display: grid; grid-template-columns: 1fr 1fr minmax(500px, auto) auto 1fr; }
}


/*span { font-weight: 200; margin: 0 5px; padding: 0 5px;  font-size: 14px; }*/

@include responsive { grid-column: 2/ 3; display: flex; align-items: center; }

.site-nav { position: absolute; text-align: left; top: 0; left: -250px; background: rgba(0,0,0,.8); width: 248px; height: 100vh; transition: all 400ms ease-in-out; z-index: 1000; }

@include responsive {
    grid-column: 3/ 5;
    all: unset;
    display: flex;
    justify-content: flex-end;


    ul { display: flex; order: -1; padding: 0; }

    a { padding: 0; margin-left: 3rem; opacity: 1; }

    h3 { font-family: 'Monoton', cursive; color: #fff; font-size: 23px; line-height: 50px; padding-left: 15px; text-align: center; text-transform: uppercase; box-sizing: border-box; background: #000; border-bottom: 1px solid #ddd; opacity: 0; transition: opacity 250ms ease-in-out 250ms; }

    @include responsive { display: none; }

    .btn-search { position: absolute; right: 0; top: 0; height: 100%; justify-content: flex-end; display: flex; align-items: center; }

    .button-search { margin-right: 10px; background: transparent; border: none; color: #999; outline: none; font-size: 17px; cursor: pointer; }
}


ul { list-style: none; padding: 10px 0; }



/*a:active,
a:hover { color: #FAA519; }*/


.navbar-toggle { display: none; }

    .navbar-toggle:checked ~ nav { left: 0; box-shadow: 0px 2px 10px rgba(0,0,0,1); }

        .navbar-toggle:checked ~ nav a { opacity: 1; transition: opacity 250ms ease-in-out 250ms; font-size: 11px; }

        .navbar-toggle:checked ~ nav h3 { opacity: 1; transition: opacity 250ms ease-in-out 250ms; }

    .navbar-toggle:checked ~ .label-navbar { margin-right: 20px; top: 10px; width: 30px; height: 30px; font-size: 20px; }

        .navbar-toggle:checked ~ .label-navbar:active { transform: none; }

        .navbar-toggle:checked ~ .label-navbar .open { display: none; }

        .navbar-toggle:checked ~ .label-navbar .close { display: block; color: azure; }

.label-navbar { /*position: absolute;*/ top: 0; left: 0; /*display: flex;*/ align-items: center; height: 100%; margin-left: 20px; cursor: pointer; z-index: 1; }

.close { display: none; }

@include responsive {
    .open { display: none; }
}

#callCenter { width: 100%; background: #729133; /* padding-left: 10px; */ font-weight: bold; font-size: 15px; /* height: 26px; */ padding: 0.2rem; }

#custNameContainer { margin-top: 10px; width: 100%; height: 8%; text-align: center; /*padding-top: 3px;*/ padding-bottom: 30px; }

#spnlogonuser { color: white; text-align: center; font-size: 12px !important; font-weight: bold !important; }

.headerNav { display: grid; grid-gap: 4px 2px; grid-template-columns: 1fr 1fr 1fr 6fr 1fr 1fr 1fr; grid-template-rows: auto; align-items: center; }

    .headerNav #divmainmenu { display: flex; flex-wrap: wrap; /*background-color: orange;*/ }

    .headerNav #logo { grid-column-start: 4; justify-self: center; }

    .headerNav .mobileview { grid-area: 1/1/2/2; }

#agentDetails { font-size: 15px; background: #729133; padding-left: 10px; font-weight: bold; height: 26px; }

#logo img { max-width: 70%; }

img { vertical-align: middle; }

.headerNav #lstSalesAgent svg { width: 40px; transform: rotate(90deg); color: #fff; grid-area: 1/1/3/2; align-self: center; }

#lstSalesAgent { display: grid; grid-template-columns: 1fr 8fr; }

.headerNav #chat { grid-column-start: 5; }

.headerNav #savedList { grid-column-start: 6; }

.headerNav #cart { grid-column-start: 7; position: relative; justify-self: center; }
.headerNav #Cart_Empty { grid-area: 1/5/2/6; justify-self: flex-start; position: relative; /*justify-self: center;*/ }

.headerNav #divelement { border: 1px solid lightgray; border-left-color: lightgrey; border-left-style: solid; border-left-width: 1px; padding: 10px 2px 2px 2px; border-left: none; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.headerNav #items { display: grid; grid-template-columns: 1fr 1fr; }

.headerNav #search { grid-area: 2/1/3/11; padding-left: 12px; padding-right: 12px; }
#txtSearch { border-right: none; }

.headerNav #UserName { display: none; }

.headerNav #search form { display: inline-grid; /*grid-template-columns: auto 7%;*/ width: 100%; /*border:1px solid #739123;*/ }

#customerLocation #lblDelivery { /*justify-self: right; align-self: center;*/ justify-self: center; font-weight: normal; color: #6c3d3d; width: max-content; margin-top: 5px !important; }

#customerLocation #DeliveryLocation { align-self: center; justify-self: left; margin-top: -1px; }

.searchIcon { padding: 0.5rem; border: 0; }

.searchBox { border: 0; padding: 0.5rem 0.5rem 0.5rem 0; }

.searchButton { background: #538AC5; border: 0; color: white; padding: 0.5rem; border-radius: 0; display: none; }

.headerNav #credit { grid-area: 3/1/4/11; display: grid; grid-template-columns: 1fr 1fr; background-color: #484848; /*margin-left: 3px;
        margin-right: 3px;*/ border-radius: 2px; color: #fff; margin-right: 12px; margin-left: 12px; }

    .headerNav #credit #creditText { color: #fff; padding: 5px; }

    .headerNav #credit #spnRemCredit { justify-self: end; color: white; padding: 5px; }

.headerNav #quickCategory { grid-area: 4/1/4/11; display: grid; box-shadow: 0px 2px 15px #E5E5E5; /*font-size: .8em;*/ }

.headerNav #customerLocation { grid-area: 5/1/6/11; display: grid; grid-template-columns: 1fr 1fr 2fr; grid-gap: 1px; padding: 0px; box-shadow: 0px 2px 4px #E5E5E5; font-size: .8em; font-weight: bold; color: #6c3d3d; padding-left: 12px; padding-right: 12px; }

    .headerNav #customerLocation i { font-size: 20px; justify-self: end; }

.headerNav #quickLink { grid-area: 6/1/7/11; display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 2px; margin-top: 1%; }

    .headerNav #quickLink a { display: grid; justify-items: center; align-items: center; text-decoration: none; color: black; }

    .headerNav #quickLink img { width: 25px; }

    .headerNav #quickLink p { font-size: 8px; }
.headerNav #banner { grid-area: 7/1/8/11; background-image: url('../Assets/img/banner-landing-page_2.jpg'); background-repeat: no-repeat; width: 100%; background-size: cover; height: 172px; }

.nav-link { font-size: 10px; /*padding: 1% 1% 2% 1%;*/ color: #716A6A; text-decoration: none; font-weight: bold; }

.headerNav #search #searchButton { display: none; }

.headerNav #quickCategory #SalesDetails { display: none; flex-direction: inherit !important; }

#customerLocation #img_loc { max-width: 50px !important; justify-self: right; }
#navbarDropdown #Mangeaccount { color: #fff !important; }
#agentContainer { color: white; display: none; width: 100%; }
.headerNav #UserLogin { display: block; /*grid-column-start: 7;*/ grid-area: 1/5/2/9; }
#lnk_login { font-size: 12px; }
#lnk_signup { font-size: 12px; }
#quickCategory #shopbycategory { font-size: 11px; padding-left: 8px; }
#searchShape { margin-top: 8px; height: auto; margin: auto; margin-right: 8px; }
#devider { display: none; }


#bindShopByCategories { transform: translate3d(0px, -2px, 0px) !important; position: absolute; will-change: transform; top: 32px; left: 0px; min-width: 15rem; }
.CartEmpty { /* object-fit: contain; */ position: fixed; /* right: 109px !important; */ /* z-index: 2; */ top: 18px; /*right: 130px;*/ height: 50px; width: 50px; background: url(/Assets/img/cart-empty.svg)no-repeat center center; opacity: 0.6; }

@media screen and (min-width: 768px) {
    .headerNav { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 3fr 3fr .6fr .6fr .6fr 2fr; }

        .headerNav #logo { grid-area: 1/6/2/7; }
    #Navsize { font-size: 14px; width: 150px; font-size: 10px; font-style: normal; font-stretch: normal; line-height: 1.14; letter-spacing: normal; }

    #logo { width: 100%; }

    #chart { width: 90px !important; }
    #searchbuttons { border-radius: 3px !important; font-size: 16px !important; font-weight: bold !important; line-height: 1; }
    #cartfull { width: 90px !important; }

    #shopList { width: 90px !important; }
    #txtSearch { border: 1px solid #729123 !important; font-size: 14px; font-weight: 300; line-height: 1.14; background-color: #f8f8f8; }
    #divelement { display: none; }
    #chat { grid-column-start: 8 !important; }

    #savedList { grid-column-start: 9 !important; }

    #cart { grid-column-start: 10 !important; }
    #navbarDropdown #Mangeaccount { display: block; }

    .headerNav #UserName { display: block; grid-column-start: 11; }

    .headerNav #search { grid-area: 1/2/2/6; }

        .headerNav #search #searchButton { display: inline-flex !important; }

        .headerNav #search #searchShape { display: none; }

    .input-group { flex-wrap: nowrap !important; }

    .headerNav #credit { grid-area: 1/7/2/8; display: grid; grid-template-columns: 2fr 1.5fr; background-color: none !important; border-radius: 0 !important; background-color: white; font-size: 16px !important; color: #729133; }

    /*#headercontainer*/ .headerNav #quickLink { grid-area: 4/1/5/12; grid-template-columns: repeat(3,140px); /*border-top: 1px solid #E5E5E5 !important;*/ margin-top: -3px; padding-top: 5px; justify-content: center; align-content: center; margin-left: 5px; margin-right: 5px; }

        /*#headercontainer*/ .headerNav #quickLink img { width: 60px; }

    .nav-link { font-size: 14px !important; font-weight: normal !important; font-style: normal; font-stretch: normal; line-height: 1.14; letter-spacing: normal; }


    .headerNav #customerLocation { grid-area: 1/1/2/2; display: grid; grid-template-columns: auto; grid-gap: 1px; padding: 5px; box-shadow: none; font-size: 14px; font-weight: normal !important; color: rgba(0,0,0,.8); grid-template-columns: 1fr 2fr; grid-template-rows: auto; }

    .headerNav .mobileview { grid-area: 3/1/4/2; margin-left: 5px; }
    /*.headerNav #customerLocation { width: 134px !important }*/
    .headerNav #customerLocation #delivaryicon { order: 1; }

    .headerNav #customerLocation #DelivaryLocationName { order: 2; }

    #quickCategory #shopbycategory { visibility: visible; font-size: 14px; padding-left: 8px; }

    #customerLocation #img_loc { /*grid-area: 1/1/2/2; justify-self: flex-start;*/ grid-area: 1/1/3/4; justify-self: flex-start; }


    .headerNav #quickCategory { grid-area: 3/2/4/12; /*box-shadow: unset;*/ /*padding: 0.5rem 0.5rem;*/ }

    #navbarSupportedContent { display: grid; grid-template-columns: 8fr 3fr; box-shadow: 0px 0px 3px #E5E5E5; }

    .headerNav #quickCategory #SalesDetails { display: flex; margin-right: 5px; }

    .headerNav #search form { border-color: #729123; /*background-color: #f7f7f7;*/ }

    .headerNav #banner { grid-area: 5/1/6/12; /*height: 300px;*/ }
    /*#quickLink #PlaceanOrder { grid-area: 1/2/1/2; }
            #quickLink #CompareGrades { grid-area: 1/2/3/4; }
            #quickLink #TrackOrder { grid-area: 1/2/4/5; }
            #quickLink #cancelorder { grid-area: 1/2/5/6; }
            #quickLink #help { grid-area: 1/3/7/8; }*/
    .headerNav #credit #spnRemCredit { justify-self: start; color: #729123; padding: 5px; }

    #spnlogonuser { color: #4c4c4e; }

    .site-nav { position: unset; width: 100%; height: unset; transition: unset; }

        .site-nav #custNameContainer { display: none; }

        .site-nav #agentContainer { display: none !important; }

        .site-nav #callCenterContainer { display: none !important; }

    .navbar-toggle:checked ~ nav { /*box-shadow:none;*/ }

    ul { list-style: none; padding: 0 0; }

    .mobileview label { display: none; }

    #devider { display: block; grid-area: 2/1/3/12; height: 1px; box-shadow: 0px -3px 6px 1.5px #E5E5E5; margin-top: 5px; background: #E5E5E5; opacity: .9; margin-left: 5px; margin-right: 5px; }

    .navbar-nav .dropdown-menu { position: absolute; float: unset; }

    #bindShopByCategories { transform: translate3d(0px, 45px, 0px) !important; }
    #customerLocation #DeliveryLocation { align-self: center; justify-self: left; grid-area: 3/2/3/4; margin-top: -8px; font-weight: bold; font-stretch: normal; font-style: normal; line-height: 1.14; letter-spacing: normal; color: #4c4c4e; }

    #customerLocation #lblDelivery { grid-area: 1/2/1/2; justify-self: flex-start; /*align-self: center;*/ font-weight: normal; font-stretch: normal; font-style: normal; line-height: 1.14; font-size: 14px !important; letter-spacing: normal; color: black; /*opacity: 0.7;*/ width: max-content; color: #4c4c4e; }
    .headerNav #credit #creditText { color: #729123; padding: 5px; justify-self: flex-start; }
    .headerNav #Cart_Empty { grid-area: 1/8/2/9; position: relative; }
    .headerNav #UserLogin { display: block; grid-column-start: 11 !important; justify-self: flex-end; padding-right: 8px; grid-area: 1/11/1/12; }
    .dropdown-menu show { background-color: #fff !important; }
    #lnk_login { font-size: 16px; }
    #lnk_signup { font-size: 16px; }
    .headerNav #navbarDropdownMenuLink { padding: 16px 5px; }
    #searchgroup { margin-left: 15px; }
    #cart #totalItems { position: absolute; top: -6px; right: 27%; height: 16px; width: 16px; line-height: 18px; background-color: #FAA519; color: #ffffff; font-size: 11px; font-weight: bold; text-align: center; border-radius: 50%; -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 0.2s 0s; -moz-transition: -moz-transform 0.2s 0s; transition: transform 0.2s 0s; }
    .ecart-icon img { max-width: 90% !important; }
    .headerNav #quickLink p { font-size: 12px; color: #4c4c4e; font-family: Assistant-Regular; }
}
